    body{
        font-family: Arial; /*Tipo de fonte utilizada*/
    }
    h1{
        text-align: center;
        width: 370px;           /*Alinhando os h1's ao centro, selecionando cor e tamanho em pixels */
        color: #048abf;
    }
    h2{ 
        text-align: center;
        width: 470px;           /*Alinhando os h2's ao centro, selecionando a cor e tamanho em pixels */
        color: #048abf;
    }
    p{
        margin-top: -1px;       /*Alinhando p's ao topo, e centralizando o texto */
        text-align: center;
        
    }
    main{
        font-size: large;
        display: flex;          /*Tamanho da fonte do código, alinhando items ao centro e em coluna*/
        align-items: center;
        flex-direction: column;
        margin: 0 100px;
    }
    button{
        font-size: large;
        width: 100px;
        height: 35px;
        border-radius: 15px;    /*Estilização do botão, com bordars, tamanho e cor*/
        box-shadow: none;
        background-color: #048abf;
        color: white;
        transition: all 0.3s ease-in-out;
        border-style: none;
    }
    button:hover{
        border-color: #048abf;
        border: solid;
        transition: background-color 0.3s ease, color 0.3s ease;
        background-color: white;        /*Mudança de estilo quando se passa o mouse em cima do botão*/
        color: #048abf;
    }
    input{
       height: 25px;                /*Estilização dos inputs*/
       border: solid 2px;       
       border-radius: 10px;
       border-color: #048abf;
    }
    input:focus{               /*Estilização quando se digita no input*/ 
        outline: #048abf;
    }
    #Botões{
        margin-top: -20px;      /*Posição do botão*/
    }
    #div_texto2{
        border-right: solid 10px;
        border-radius: 15px;
    }
    #div_texto1{
        border-left: solid 10px;                                    
        border-radius: 15px;                                /*Estilização dos textos gerais.*/
    }
    #div_texto1, #div_texto2, #div_texto3, #div_texto4{
        width: 500px;
        color: #048abf;
        text-align: center;
    }
    .div_calcularTudo{
        padding: 10px;
        display: flex;
        align-items: flex-start;
    }
    .div_calculadora{
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    select{
        font-size: large;
        border-color: #048abf;
        border-radius: 5px;                 /*Estilização das options.*/
        background-color: aliceblue;
        color:#048abf;
    }
